body.dark-mode {
    background-color: #454545; 
    color: #e0e0e0; 
}

body.dark-mode .card {
    background-color: #454545;
    border-color: #333;
    color: #e0e0e0;
}


body.dark-mode .navbar-light {
    background-color: #454545 !important; 
    border-bottom: 1px solid #333;
}
body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .nav-link {
    color: #e0e0e0 !important;
}

body.dark-mode .table {
    color: #e0e0e0; 
}
body.dark-mode .table thead {
    background-color: #2c2c2c !important; 
    color: #e0e0e0;
}
body.dark-mode .table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: #252525;
}

body.dark-mode .form-control {
    background-color: #2c2c2c;
    border-color: #444;
    color: #e0e0e0;
}
body.dark-mode .form-control:focus {
    background-color: #2c2c2c;
    border-color: #3f8cff;
    color: #e0e0e0;
}
